.top{
    border: 10px;
   
    width: auto;
    height: 30px;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.top div{
    /* background-color: rgb(231, 130, 130); */
}
.top_left{
    float: left;
}
/* 导航右侧 */
.top_right{
    float: right;
    width: 460px;
    height: 40px;
    font-size: 12px;
    color: #999;
    line-height: 40px;
    position: relative;
}
#dropdown ul li a{
    width: 90px;
    height: 40px;
    /* background-color: green; */
    float: right;
    display: block;
    text-align: center;
}
#dropdown ul li a:hover{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: rgb(231, 101, 37);
}
#dropdown ul li dl{
    height: 160px;
    width: 90px;
    /* background-color: red; */
    display: block;
    position: absolute;
    top: 40px;
    left: 10px;
    border: 1px solid #999;
    border-top: none;
}
#dropdown ul li dl dd a:hover{
    border: none;
    color: rgb(231, 101, 37);
}
.top_right li{
    list-style:none;
    position: relative;

}
#dropdown ul li{
    height: 160px;
    width: 90px;
    background-color: red;
    max-height: 123px;

}