.banner-container{
    width:1190px;
    margin:0 auto;
    position: relative;
}
    .banner-container .left-banner {
        float: left;
    }
    .banner-container .right-banner {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        position: relative;
    }
    .banner-container .right-banner .home-header-links {
            position: absolute;
            top:-45px;
            left: 20px;
        }
    .banner-container .right-banner .home-header-links .nav-promotion{
                font-size: 12px;
                color: #fff;
                background: #FF4848;
                font-weight: 400;
                border-radius: 20px;
                padding: 3px 6px;
                margin:0 5px;
                position: relative;
                top:-1px;
            }
    .banner-container .right-banner .home-header-links a {
                color: #222;
                font-weight: 700;
                font-size: 16px;
                margin:0 20px;
                cursor: pointer;
                position: relative;
            }
    .banner-container .right-banner .home-header-links .waimai-link:hover {
                color: #fbc700;
            }
    .banner-container .right-banner .home-header-links .maoyan-link:hover {
                color: #ed1e24;
            }
    .banner-container .right-banner .home-header-links .hotel-link:hover {
                color: #f04d4e;
            }
    .banner-container .right-banner .home-header-links .homestay-link:hover {
                color: #FDC411;
            }
    .banner-container .right-banner .home-header-links .merchant-link:hover {
                color: #FE8C00;
            }
    .banner-container .right-banner .home-header-links .gongyi-link:hover {
                color: #f04d4e;
            }
    .banner-container .banner-row .item{
            float:left;
        }
    .banner-container .banner-row .banner-slider{
            width: 550px;
            height: 240px;
        }
    .banner-container .banner-row .pic-1{
            width: 150px;
            height: 240px;
            margin-left: 10px;
            margin-right: 10px;
            background-size:150px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-color: #fff;
        }
    .banner-container .banner-row .pic-2, .banner-container .banner-row .pic-3{
            width: 270px;
            height: 165px;
            background-size: 270px;
            background-position: 50%;
            background-repeat: no-repeat;
            margin-top: 10px;
            margin-right: 10px;
        }
    .banner-container .banner-row .pic-4{
            width: 150px;
            height: 165px;
            margin-top: 10px;
            margin-right: 10px;
            background-size: 150px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-color: #fff;
        }
    .banner-container .banner-row .download-app{
            width: 228px;
            height: 165px;
            margin-top: 10px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
        }
    .banner-container .banner-row .download-app .qrcode-box{
                margin:10px auto 0 auto;
            }
    .banner-container .banner-row .download-app .app-name{
                font-size: 16px;
                color: #222222;
                font-weight:500;
            }
    .banner-container .banner-row .download-app .sl{
                font-size:12px;
                font-weight:500;
                margin-top: 2px;
            }
    .banner-container .banner-row .download-app .red{
                color:#EC5330;
                margin-right:5px;
            }
    .banner-container .banner-row .download-app .gary{
                color:#3f3f3f;
            }
#banner-slider{
    width:550px;
}
.slider-item{
    width:550px;
}
.qrcode-box img {
        width: 95px;
        height: 95px;
    }
@media screen and (max-width: 1200px) {
    .banner-container {
        width:950px;
    }
    .banner-slider{
        width: 470px !important;
        margin-right: 10px;
    }
    .pic-2, .pic-3{
        width:230px !important;
        background-position:0% !important;
    }
    .pic-1, .pic-4{
        display:none;
    }
    .slider-img-div{
        background-size:118%;
    }
    #banner-slider{
        width:470px;
    }
    .slider-item{
        width:470px;
    }
}
.zhenguo-container{
    position:relative;
    margin: 40px auto;
}
.minsu-ls-view{
    padding:20px;
    padding-right:0;
    padding-bottom:0;
    border: 1px solid #E5E5E5;
    border-top:0px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    background:#fff;
}
.minsu-ls-view .products{
        display:flex;
        flex-wrap:wrap;
    }
.minsu-ls-view .minsu-item{
        float:left;
        margin-right:18px;
    }
.minsu-ls-view .minsu-item .product-card-header{
            position:relative;
        }
.minsu-ls-view .minsu-item .product-card-header .product-img{
                width:370px;
                height:208px;
                border-radius: 4px;
                background: url(//p0.meituan.net/travelcube/214b8411190e874781fe91dd3096236211567.png);
                background-size: cover;
                background-position: 50%;
                max-width: 100%;
                height: 208px;
                margin-bottom: 11px;
                cursor: pointer;
            }
.minsu-ls-view .minsu-item .product-card-header .head-img{
                border: 2px solid #FFFFFF;
                height: 48px;
                width: 48px;
                position: absolute;
                bottom: -12px;
                right: 15px;
                z-index: 9;
                border-radius: 40px;
                background-image:url('https://p0.meituan.net/mmc/35ad1f9253761ea6ff822b5e659f234f3758.png');
                background-size:100%;
                background-position:50% 50%;
                background-repeat:no-repeat;
            }
.minsu-ls-view .minsu-item .product-info{
            text-align:left;
            padding-bottom:25px;
        }
.minsu-ls-view .minsu-item .product-info .product-title{
                font-size: 16px;
                color: #222222;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 7px 0;
                font-weight: 400;
                width:297px;
            }
.minsu-ls-view .minsu-item .product-info .sub-title{
                font-size: 12px;
                color: #999999;
                text-align:left;
            }
.minsu-ls-view .minsu-item .product-info .price{
                font-weight:500;
                font-size: 22px;
                color: #FF6600;
                letter-spacing: -0.8px;
                padding:4px 0;
            }
.minsu-ls-view .minsu-item .product-info .price .price-icon{
                    font-size:14px;
                }
@media screen and (max-width: 1200px) {
    .zhenguo-container{
        width:950px;
    }
        .minsu-ls-view .minsu-item{
            float:left;
            margin-right:18px;
        }
            .minsu-ls-view .minsu-item .product-card-header{
                position:relative;
            }
                .minsu-ls-view .minsu-item .product-card-header .product-img{
                    width:445px;
                    height:250px;
                }
}
.recommend-container{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    .recommend-container .recommend-list {
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-top: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        max-height: 758px;
        padding: 10px 10px 20px;
        width: 100%;
        box-sizing: border-box;
        overflow-y: hidden;
        text-align: left;
    }
    .recommend-container .recommend-list .recommend-item {
            //margin-bottom: 20px;
            //padding: 0 10px;
            display: inline-block;
            width: 20%;
            box-sizing: border-box;
            vertical-align: middle;
        }
    .recommend-container .recommend-list .recommend-item .card-container {
                padding: 10px
            }
    .recommend-container .recommend-list .recommend-item .card-container:hover {
    background: #F4F4F4;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
    border-radius: 4px;
}
@media screen and (max-width: 1200px) {
    .recommend-container{
        width: 950px;
    }
        .recommend-container .recommend-list {
            max-height: 753px;
        }
            .recommend-container .recommend-list .recommend-item {
                width: 25%;
            }
}
.maoyan-container{
    margin-top:40px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1200px) {
    .maoyan-container{
        width:950px;
    }
    .slider-item-film {
        width: 212px;
    }
}
.botton-nav{
    margin: 40px auto 0;
    width: 1190px;
    height: auto;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: #FFFFFF;
}
    .botton-nav .title{
        width: auto;
        height: 44px;
        font-size: 16px;
        font-weight: 500;
        color: #222222;
        text-align:left;
        padding-left: 20px;
        padding-top: 6px;
        line-height: 44px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        /* margin-bottom: 6px; */
        /* background-color: #0ECAC7;
        background-image: linear-gradient(-90deg, #0ECAC7 0%, #06C1AE 100%); */
    }
    .botton-nav .b-n-content{
        width: 100%;
        height: auto;
    }
    .botton-nav .b-n-content .b-n-classification{
            width: 100%;
            height: auto;
            overflow:hidden;
        }
    .botton-nav .b-n-content .b-n-classification .b-n-subtitle{
                width: 100px;
                height: 100%;
                float: left;
                font-size: 14px;
                font-weight: 500;
                color: #222222;
                text-align: center;
                padding: 10px 0;
            }
    .botton-nav .b-n-content .b-n-classification .b-n-sublist{
                width: 1090px;
                height: auto;
                padding-top: 12px;
                float: left;
                border-bottom: 1px solid #E5E5E5;
                overflow: hidden;
            }
    .botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item{
                    width: 100px;
                    height: 17px;
                    font-size: 12px;
                    text-align:left;
                    margin-bottom: 13px;
                    float: left;
                }
    .botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item a{
                        display: block;
                        width: 80px;
                        cursor: pointer;
                        color: #666666;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
    .botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item a:hover{
                        color: #fe8c00;
                    }
    .botton-nav .b-n-content .b-n-classification .b-n-sublist .b-n-list-item .nav-promotion {
                        font-size: 12px;
                        color: #fff;
                        background: #FF4848;
                        font-weight: 400;
                        border-radius: 10px;
                        padding: 0 6px;
                        margin:0 5px;
                        position: relative;
                        top:-1px;
                    }
    .botton-nav .b-n-content .b-n-classification:last-child > .b-n-sublist{
            border-bottom:none;
        }
@media screen and (max-width: 1200px) {
  .botton-nav {
      width: 950px;
      margin-left: auto;
      margin-right: auto;
  }
    .botton-nav .b-n-content .b-n-classification .b-n-sublist {
        width: 840px;
    }
}
.slider{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
}
    .slider .slider-content{
        position: relative;
        height:100%;
        transition:left 0.5s;  
        transition-timing-function: ease-out;
        width:10000000px;  
    }
    .slider .slider-content .slider-item-film{
            height:297px;
            width:214px;
            float:left;
            margin-right:19px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            position:relative
        }
    .slider .slider-content .slider-item-film:last-child{
    margin-right:0;
}
    .slider .slider-content .slider-item-film .film-img{
                border-radius:4px;        
                width:100%;
                border:0px;
}
    .slider .slider-content .slider-item-film .film-mark{
                position: absolute;
                top: 10px;
                z-index: 99;
                left: -6px;
                height: 20px;
                box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
                width:auto;
                border:0px;
}
    .slider .slider-content .slider-item-film .film-info{
                height:100px;
                width:100%;
                position: absolute;
                bottom: 0;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(29,45,55,0.80) 99%);
}
    .slider .slider-content .slider-item-film .film-info .film-score{
                    font-size: 12px;
                    color: #fff;
                    text-align: left;
                    margin-top: 48px;
                    padding-left: 10px;
                    font-weight:500;
                }
    .slider .slider-content .slider-item-film .film-info .film-score span{
                        font-size:16px;
                        color:#FD9827;
                        font-weight:500;
                    }
    .slider .slider-content .slider-item-film .film-info .film-name{
                    text-align: left;
                    color: #fff;
                    padding-left: 10px;
                    font-size: 16px;
                    white-space:nowrap; 
                    width:6em;
                    overflow:hidden; 
                    text-overflow:ellipsis;
                    font-weight:500;
                }
    .slider .slider-content .slider-item-film .film-info .buy-ticket{
                    background: #FF4949;
                    border-radius: 100px;
                    color: #fff;
                    padding:2px 12px 3px 12px;
                    font-size: 14px;
                    position: relative;
                    top: -24px;
                    cursor: pointer;
                    line-height: 20px;
                    text-align: center;
                    float: right;
                    right: 10px;
                }
    .slider .btn{
        width:40px;
        height:40px;
        background:#333;   
        position:absolute;
        z-index:99;
        top:43%;
        border-radius: 40px;
        opacity:0;
        transition:opacity 0.5s;
        transform: scale(0.95);
        text-align: center;
        cursor: pointer;
    }
    .slider .btn .iconfont{
            color:#fff;
            text-align:center;
            font-size:20px;
            line-height:40px;
        }
    .slider .btn-next{
        right:10px;
    }
    .slider .btn-pre{
        left:10px;
    }
.slider:hover > .btn{
    opacity:0.8;
    transition:opacity 0.5s;
}
.slider-pagination{
    position: absolute;
    z-index: 99;
    bottom: 8px;
    left:50%;
}
.slider-pagination .pagination{
        float:left;
        width:10px;
        height:2px;
        margin-right:10px;
        transition: opacity 0.5s;
        background: #333
    }
.slider-pagination .pagination:last-child{
    margin-right:0;
}.index-nav-container {
    width: 100%;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

    .index-nav-container .nav-item {
        float: left;
        padding: 0 5px;
        position: relative;
        cursor: pointer;
        text-transform:uppercase;
    }

    .index-nav-container .nav-item.active:after {
        position:absolute;
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        border-bottom:7px solid #fff;
        content:" ";
        display:block;
        width:2px;
        height:0;
        top:37px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .index-nav-container .title {
        font-size: 18px;
        margin-left: 13px;
        margin-right: 10px;
    }

    .index-nav-container .total {
        float: right;
        margin-right: 12px;
    }

    .index-nav-container .total a {
        color: #fff;
    }

    .index-nav-container .right-arrow {
        display: inline-block;
        -webkit-transform: scale(.8);
           -moz-transform: scale(.8);
            -ms-transform: scale(.8);
             -o-transform: scale(.8);
                transform: scale(.8);
    }
.clearfix:before, .clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.link{

}
.image{
  border: 0;
}
  .image-error{
    display: none;
  }
.container-hide{
        visibility: hidden;
    }
.recommend-card-wrapper {
    width: 100%;
    box-sizing: border-box;
}
    .recommend-card-wrapper .img-box {
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
        background-color: #f4f4f4;
        background-image: url(//p0.meituan.net/travelcube/214b8411190e874781fe91dd3096236211567.png);
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 4px;
        overflow: hidden;
    }
    .recommend-card-wrapper .img-box img {
            width: 100%;
            font-size: 0;
        }
    .recommend-card-wrapper .info-box {
        position: relative;
        margin-top: 10px;
    }
    .recommend-card-wrapper .info-box .title {
            font-size: 14px;
            color: #222222;
            line-height: 20px;
            width: 100%;
            margin: 0;
            font-weight: 500;
        }
    .recommend-card-wrapper .info-box .title.aligned {
            font-size: 16px;
            line-height: 22px;
            width: 100%;
            height: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    .recommend-card-wrapper .info-box .score-line div {
                display: inline-block;
            }
    .recommend-card-wrapper .info-box .score-line .comment-number {
                font-size: 12px;
                color: #999;
                height: 24px;
                line-height: 24px;
                margin-left: 10px;
            }
    .recommend-card-wrapper .info-box .score-line.aligned {
            height: 24px;
        }
    .recommend-card-wrapper .info-box .desc-line .desc {
                font-size: 12px;
                color: #999999;
                width: 100%;
                height: 18px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-top: 4px;
            }
    .recommend-card-wrapper .info-box .desc-line.aligned {
            height: 18px;
        }
    .recommend-card-wrapper .info-box .bottom-line {
            position: relative;
        }
    .recommend-card-wrapper .info-box .bottom-line div {
                display: inline-block;
            }
    .recommend-card-wrapper .info-box .bottom-line .price-box {
                color: #FF6600;
            }
    .recommend-card-wrapper .info-box .bottom-line .price-box .yuan {
                    font-size: 14px;
                    font-weight: 700;
                }
    .recommend-card-wrapper .info-box .bottom-line .price-box .price-number {
                    font-size: 22px;
                    letter-spacing: -0.5;
                }
    .recommend-card-wrapper .info-box .bottom-line .price-box .price-desc {
                    font-size: 12px;
                    margin-left: 4px;
                    font-weight: 700;
                }
    .recommend-card-wrapper .info-box .bottom-line .bottom-right {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 12px;
                color: #999;
                line-height: 20px;
            }
    .recommend-card-wrapper .info-box .bottom-line.aligned {
            height: 28px;
        }

.rate-stars{
    width: 84px;
    height: 24px;
    position: relative;
    display: inline-block;
}

.rate-stars-ul{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 3px 0;
    white-space:nowrap;
}

.rate-stars-dark{
    color:#c3c3c3;
}

.rate-stars-light{
    color:#FF9900;
    position: absolute;
    top:0px;
    overflow: hidden;
}

.rate-stars-ul>li{
    display: inline-block;
    padding: 0px 2px;
}.slider{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
}
    .slider .slider-content{
        position: relative;
        height:100%;
        transition:left 0.5s;  
        transition-timing-function: ease-out;
        width:10000000px;
    }
    .slider .slider-content .slider-item{
            float:left;
            position:relative;
            height:100%;
        }
    .slider .slider-pagination{
        position: absolute;
        z-index: 99;
        bottom: 10px;
        left:50%;
    }
    .slider .slider-pagination .pagination{
            float:left;
            width:10px;
            height:2px;
            margin-right:10px
        }
    .slider .slider-pagination .pagination:last-child{
    margin-right:0;
}
    .slider .btn{
        width:40px;
        height:40px;
        background:#333;   
        position:absolute;
        z-index:99;
        top:43%;
        border-radius: 40px;
        opacity:0;
        transition:opacity 0.5s;
        transform: scale(0.95);
    }
    .slider .btn .iconfont{
            color:#fff;
            text-align:center;
            font-size:20px;
            line-height:40px;
        }
    .slider .btn-next{
        right:10px;
    }
    .slider .btn-pre{
        left:10px;
    }
.slider:hover > .btn{
    opacity:0.8;
    transition:opacity 0.5s;
}
.slider-img{
    width:100%;
    height:100%;
}
.slider-img-div{
    width:100%;
    height:100%;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:cover;
}.login-container{
    width: 228px;
    height: 238px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
    .login-container .default{
        padding-top: 30px;
        position: relative;
    }
    .login-container .setting{
        position:absolute;
        top:5px;
        right:5px;
    }
    .login-container .setting .icon{
            float:left;
            margin-right: 5px;
        }
    .login-container .setting .icon .iconfont{
                font-size:20px;
                color:#666;
            }
    .login-container .head-img-row{
        border-radius:30px;
        margin: 0px auto 4px auto;
    }
    .login-container .head-img-row .head-a{
            display: block;
            width: 55px;
            height: 55px;
            background-image:url('../img/head-img.png');
            background-size: 100%;
            background-position: 50%;
            margin:0 auto;
        }
    .login-container .head-img-row img{
            width:47px;
            height:47px;
            border-radius:50%;
            border:4px solid #E5E5E5;
        }
    .login-container .user-name{
        font-size:16px;
        color:#222;
        text-align:center;
        font-weight: 500;
        white-space:nowrap; 
        width:6em;
        overflow:hidden; 
        text-overflow:ellipsis;
        margin: 0 auto;
    }
    .login-container .btn-login{
        width: 118px;
        text-align: center;
        margin: 10px auto 15px auto;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 40px;
        font-size: 14px;
        color: #333;
        transition: background-color 0.5s;
        display: block;
        line-height: 38px
    }
    .login-container .btn-login:hover{
    background-color:#f6f6f6;
    transition:background-color 0.5s;
}
    .login-container .nickname-row{
        position:relative;
        height: 30px;
    }
    .login-container .iconfont_level{
        font-size: 14px;
        position: relative;
        top: -20px;
        left: 55px;
    }
    .login-container .fn-row{
        padding:0 15px;
    }
    .login-container .fn-row .fn-item{
            width:33.3%;
            float:left;
        }
    .login-container .fn-row .fn-item a{
               text-decoration:none;
            }
    .login-container .fn-row .fn-item .icon .iconfont{
                    color:#96E4DA;
                    font-size:20px;
                }
    .login-container .fn-row .fn-item .fn-name{
                font-size: 12px;
                color: #222;
                margin: 5px 0;
            }
.shadow{
    transition:box-shadow 0.5s;    
}
.shadow:hover{
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.15);
    transition:box-shadow 0.5s;
}.category-nav-container {
    width: 230px;
    height: 475px;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    float:left;
    margin-top:-50px;
    color: #646464;
    background: #FFF;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
}
    .category-nav-container .category-nav-title-wrapper {
        height: 50px;
        padding-top: 15px;
        box-sizing: border-box;
    }
    .category-nav-container .category-nav-title {
        color:#222222;
        font-size: 16px;
        font-weight: 700;
        margin-left: 15px;
    }
    .category-nav-container .category-nav-content-wrapper ul{
        padding: 10px 0 8px;
        height: 425px;
        box-sizing: border-box;
        display: block;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .category-nav-container .nav-li {
        position: relative;
        box-sizing: border-box;
        padding: 2px 12px;
        height: 26px
    }
    .category-nav-container .nav-li:hover {
    background: rgba(255,150,0,0.08);
    color: #222222;
}
    .category-nav-container .nav-li:hover .nav-right-arrow {
            color: #222222;
            border-bottom: 1px solid #222222;
            border-right: 1px solid #222222;
}
    .category-nav-container .nav-li:hover .home-category-iconfont:before {
                font-weight: 400;
                opacity: 1;
}
    .category-nav-container .nav-li:hover .iconfontNew:before {
                font-weight: 400;
                opacity: 1;
}
    .category-nav-container .nav-li:hover .nav-promotion {
                opacity: 1;
                font-weight: 400;
                background: linear-gradient(to bottom right,#FFD000,#FFBD00);
}
    .category-nav-container .nav-li:hover a {
                font-weight: 700;
}
    .category-nav-container .nav-li:hover .nav-text {
                color:#222222;
}
    .category-nav-container .nav-li .nav-right-arrow {
            width: 4px;
            height: 4px;
            color: #BFBFBF;
            border-bottom: 1px solid #BFBFBF;
            border-right: 1px solid #BFBFBF;
            transform: rotate(-45deg);
            display: block;
            position: absolute;
            right: 13px;
            top:0;
            bottom: 0;
            margin:auto;
}
    .category-nav-container .home-category-iconfont:before {
        display: inline-block;
        width: 14px;
        height: 14px;
        font-size: 14px;
    }
    .category-nav-container .iconfontNew:before{
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
    .category-nav-container .hc-icon-beauty:before {
         -webkit-transform: scale(.75);
            -moz-transform: scale(.75);
             -ms-transform: scale(.75);
              -o-transform: scale(.75);
                 transform: scale(.75);
        position: relative;
        right: 2px;
    }
    .category-nav-container .hc-icon-travel:before {
         -webkit-transform: scale(.75);
            -moz-transform: scale(.75);
             -ms-transform: scale(.75);
              -o-transform: scale(.75);
                 transform: scale(.75);
        position: relative;
        right: 3px;
    }
    .category-nav-container .hc-icon-maoyan:before {
         -webkit-transform: scale(.9);
            -moz-transform: scale(.9);
             -ms-transform: scale(.9);
              -o-transform: scale(.9);
                 transform: scale(.9);
        position: relative;
        right: 2px;
    }
    .category-nav-container .nav-text-wrapper {
        display: inline-block;
        margin-left: 11px;
    }
    .category-nav-container .nav-text {
        font-size: 13px;
        line-height: 20px;
        height: 20px;
        color: #646464;
        cursor: pointer;
    }
    .category-nav-container .nav-promotion {
        font-size: 12px;
        color: #222222;
        background: #FFF3CC;
        display: inline-block;
        border-radius: 10px;
        padding: 0 7px;
        margin-left: 5px;
        transform: scale(0.9);
        position: relative;
        opacity: 1;
    }
    .category-nav-container .category-nav-detail-wrapper {
        display: none;
        position: absolute;
        top: 60px;
        left: 230px;
        width: 400px;
        height: 416px;
        background-color: #fff;
        z-index: 199;
        color: #666;
        overflow: hidden;
    }
    .category-nav-container .category-nav-detail-wrapper .category-nav-detail {
            display: none;
        }
    .category-nav-container .category-nav-detail-wrapper .category-nav-detail.active {
            display: block;
        }
    .category-nav-container .category-nav-detail-wrapper.active {
        display: block;
    }
    .category-nav-container .detail-area {
        padding: 0 30px;
    }
    .category-nav-container .detail-area .detail-title-wrapper {
            margin-top: 24px;
            height: 22px;
            line-height: 22px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e5e5e5;
        }
    .category-nav-container .detail-area .detail-title-wrapper .detail-title {
                font-size: 16px;
                font-weight: 500;
                color: #222;
                cursor: pointer;
                float: left;
            }
    .category-nav-container .detail-area .detail-title-wrapper .detail-more {
                font-size: 12px;
                color: #999;
                font-weight: 400;
                float: right;
                margin-right: 6px;
                position: relative;
                cursor: pointer;
            }
    .category-nav-container .detail-area .detail-title-wrapper .detail-right-arrow {
                width: 4px;
                height: 4px;
                border-bottom: 1px solid #999;
                border-right: 1px solid #999;
                transform: rotate(-45deg);
                display: block;
                position: absolute;
                top:0;
                bottom: 0;
                right: -6px;
                margin:auto;
            }
    .category-nav-container .detail-area .detail-content .detail-text {
                color: #999;
                font-size: 12px;
                line-height: 15px;
                display: inline-block;
                margin-right: 16px;
                margin-top: 10px;
                cursor: pointer
            }
    .category-nav-container .detail-area .detail-content .detail-text:hover {
    color: #FE8C00;
}
.com-header .header-title-module {
        padding-right: 100px;  
    }
    .com-header .header-content {
        padding-bottom: 35px;
    }
    .com-header .com-footer {
        margin-top: 40px;
    }
.page.index {
    text-align: center;
}
.page.index .index-container {
        margin: 0 auto;
        width: 1190px;
    }
.page.index .logo {
        width: 200px;
        height: 63px;
    }
.page.index h1 {
        font-size: 48px;
        font-weight: 200;
    }
.slider-container {
    width: 550px;
    height: 240px;
}
@media screen and (max-width: 1200px) {
        .page.index .index-container {
            width: 940px;
        }
}

